<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyRapChieuPhim.Properties.Settings.D__DAIHOC_DBMS_PROJECT_DBMS_RAPCHIEUPHIM_BIN_DEBUG_QLRAPPHIM_MDFConnectionString"
            connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=D:\DAIHOC\DBMS\PROJECT\DBMS_RAPCHIEUPHIM\BIN\DEBUG\QLRAPPHIM.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>